p, h1 {
    margin: 0;
    font-size: 30px;
  }
  
  .page__body {
    font-family: 'Bitter', serif;
    margin: 0;
    margin-block-end: var(--footer-height);
} 
h2 {
  font-size: 40px
}

div {
  font-size: 30px
}
h3 {
  font-size: 30px
}
.navbar-nav{
  display: flex;
  flex-direction: row;
  gap: 30px;
}