{% extends  "base.html" %}
{% block content %}
    <div class="author-details">
        <h1 class="author-name">Maksym Pyvovarov</h1>
        <p class="author-role">Developer</p>
        <p class="author-contact"><a href="mailto:your.email@example.com">231596@student.uek.krakow.pl</a></p>
        <p class="author-bio">
            Maksym Pyvovarov is a software developer with expertise in web development and data extraction.
            They have worked on numerous projects involving web scraping and data analysis.
            This website is a result of their passion for making data accessible and useful for everyone.
        </p>
    </div>
        
{% endblock%}